.footer {
  font-family: $mainFont;
  background-color: $footerBackgroundColor;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: 1px solid $mainSecondaryColor;

  .footer__title {
    font-weight: 700;
    font-size: 20px;
    padding: 20px 0 20px 0;
  }

  .footer-icons {
    margin: 0;
    color: $mainSecondaryColor;

    .icon {
      font-size: 35px;
      padding: 8px;
    }
  }
}
