.icons {
  display: flex;
  margin-left: 12px;

  .icon {
    font-size: 25px;
    border-radius: 8px;
  }
}

@media screen and (min-width: 768px) {
  .icons {
    .icon {
      font-size: 30px;
      padding: 5px;
    }
  }
}

@media screen and (min-width: 1100px) {
  .icons {
    .icon {
      font-size: 35px;
    }
  }
}

@media screen and (min-width: 1600px) {
  .icons {
    .icon {
      font-size: 40px;
    }
  }
}

.btn {
  background-color: $mainContrastColor;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-style: capitalize;
  font-weight: 700;
  letter-spacing: 1.3px;
  transition: 0.3s;

  &:hover {
    background-color: lighten($mainContrastColor, 10%);
  }
}
