.icons {
  display: flex;
  margin-left: 12px;

  .icon {
    font-size: 25px;
    border-radius: 8px;
    a {
      color: $mainSecondaryColor;
      padding-left: 5px;
    }
  }
}

.btn {
  background-color: $mainContrastColor;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-style: capitalize;
  font-weight: 700;
  letter-spacing: 1.3px;
  transition: 0.3s;

  &:hover {
    background-color: lighten($mainContrastColor, 10%);
  }
}
