.icons {
  display: flex;
  margin-left: 3px;

  .icon {
    padding: 10px;
    font-size: 25px;
    border-radius: 8px;
  }
}

@media screen and (min-width: 768px) {
  .icons {
    .icon {
      font-size: 30px;
    }
  }
}

@media screen and (min-width: 1100px) {
  .icons {
    .icon {
      font-size: 35px;
    }
  }
}

@media screen and (min-width: 1600px) {
  .icons {
    .icon {
      font-size: 40px;
    }
  }
}
