.sidebar {
  background: $mainBackgroundColor;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: grid;
  place-items: center;
  opacity: 0;
  transition: 0.3s;
  transform: translateX(-100%);
  font-family: $mainFont;

  .close-control {
    position: absolute;
    right: 4.75%;
    top: 2.75%;
    font-size: 2.5rem;
    background: transparent;
    border-color: transparent;
    color: red;
    cursor: pointer;
  }

  .side-container {
    .sidebar-links {
      li {
        padding-bottom: 10px;
        transition: 0.4s;
        transform: translateX(-2000%);

        a {
          font-size: 40px;
          text-decoration: none;
          color: $mainNavigationColor;
          font-weight: 700;
          transition: 0.4s;
          text-transform: capitalize;

          &:hover {
            border-bottom: 2px solid $mainContrastColor;
            color: $mainContrastColor;
            transition: 0.2s;
          }
        }
      }
    }

    .sidebar-icons {
      margin-left: 0;

      .icon {
        font-size: 30px;
        color: darken($mainContrastColor, 5%);
      }
    }
  }
}

.show-sidebar {
  opacity: 1;
  transform: translateX(0);
}

@media screen and (min-width: 992px) {
  .sidebar {
    transform: translateX(-100%);
  }
}

/*
===============
Sidebar Animation
===============
*/

.sidebar-links li {
  animation: slideRight 0.5s ease-in-out 0.3s forwards;
}

.sidebar-links li:nth-of-type(1) {
  animation-delay: 0.25s;
}

.sidebar-links li:nth-of-type(2) {
  animation-delay: 0.5s;
}

.sidebar-links li:nth-of-type(3) {
  animation-delay: 0.75s;
}

.sidebar-links li:nth-of-type(4) {
  animation-delay: 1s;
}

@keyframes slideRight {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.sidebar-icons li {
  opacity: 0;
  animation: slideUp 0.5s ease-in-out 0.3s forwards;
}

.sidebar-icons li:nth-of-type(1) {
  animation-delay: 0.25s;
}

.sidebar-icons li:nth-of-type(2) {
  animation-delay: 0.5s;
}

@keyframes slideUp {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
