@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
$mainContrastColor: #fbd214;
$mainSecondaryColor: #666666;
$mainBackgroundColor: #f8f6f2;
$mainNavigationColor: #2c2c2c;
$mainFont: "Open Sans", sans-serif;
$logoFont: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
